<div class="row">
  <div class="col-xs-6 text-center">
    <h2>Login</h2>
    <form #f="ngForm" (ngSubmit)="login(f)">
      <div class="form-group">
        <input class="form-control" placeholder="E-mail" type="email" name="email" ngModel required>
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Password" type="password" name="password" ngModel required>
      </div>
      <div class="margin-bot-md">
        <a routerLink="/auth/register" #text>Dont have an account? Register here</a>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
</div>
