<h2 class="text-center">Login</h2>
<form #f="ngForm" (ngSubmit)="login(f)">
  <div class="form-group">
    <input class="form-control" placeholder="E-mail" type="email" name="email" ngModel required>
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Password" type="password" name="password" ngModel required>
  </div>
  <div class="text-center margin-bot-md">
    <a routerLink="/auth/register">Dont have an account? Register here</a>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
