.story {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 50px;
    padding: 15px;
    background-color: #F8F8F8;
}

.content,
.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
