<div class="text-center">
  <!-- Introduction Row -->
  <h1 class="my-4">About Us</h1>
  <h3 class="text-muted">It's Nice to Meet You!</h3>
  <p>We are three students in the Telerik Academy, Bulgaria. This project is created as a Team Work of the Angular course.</p>
  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Our Team</h2>
    </div>
    <div *appSetTimeOut='500' class="col-lg-4 col-sm-6 mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/markshark.jpg" alt="markshark">
      <h3>Mark<br>
        <small>Student</small>
      </h3>
      <p>Our Team Leader, without whom this project would not be the same.</p>
    </div>
    <div *appSetTimeOut='700' class="col-lg-4 col-sm-6 mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/freakpanzo.jpg" alt="freakpanzo">
      <h3>Cvetozar<br>
        <small>Student</small>
      </h3>
      <p>He loves the fast cars, but enjoys more to make jokes with our trainer Cuki.</p>
    </div>
    <div *appSetTimeOut='1000' class=" col-lg-4 col-sm-6 mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="/assets/darindragomirow.jpg" alt="darindragomirow">
      <h3>Darin<br>
        <small>Student</small>
      </h3>
      <p>He always likes doing all the work near the deadline.But he did it!</p>
    </div>
  </div>
  <!-- Contact row -->
  <div *appSetTimeOut='1200' class="row">
    <h1>Contact Address</h1>
  </div>
  <div *appSetTimeOut='1200' class="row">
    <div class="col-sm-3 col-xs-6 first-box">
      <div class="box">
        <h4><span class="glyphicon glyphicon-earphone"></span></h4>
        <h4>Phone</h4>
        <p>+359 01 320 412</p>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6 second-box">
      <h4><span class="glyphicon glyphicon-home"></span></h4>
      <h4>Location</h4>
      <p>Alexander Malinov 31</p>
    </div>
    <div class="col-sm-3 col-xs-6 third-box">
      <h4><span class="glyphicon glyphicon-send"></span></h4>
      <h4>E-mail</h4>
      <p>thesharks@stories.com</p>
    </div>
    <div class="col-sm-3 col-xs-6 fourth-box">
      <h4><span class="glyphicon glyphicon-leaf"></span></h4>
      <h4>Web</h4>
      <p>telerikacademy.com</p>
    </div>
  </div>
</div>
