.story,
.comment,
.comment-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #F8F8F8;
    margin-top: 10px;
}

.story {
    padding: 25px;
}

.story > .title {
    margin-top: 0;
}

.comment-input {
    resize: vertical;
    max-height: 150px;
    margin-bottom: 10px;
    padding: 20px;
}

.comment {
    padding: 20px;
}
