h3 {
    margin-top: 0;
}
.form-control {
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
          margin-bottom: 10px;
}
.form-control-feedback {
    color: #337ab7;
}
