<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="onEdit()" routerLink="/">
        <img src="/assets/logo.png">
        <span>Shared Stories</span>
      </a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <div *ngIf="getCurrentUser() then loggedIn else loggedOut"></div>
        <ng-template #loggedIn>
          <li routerLinkActive="active">
            <a routerLink="/stories/my">{{getCurrentUser().email}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/auth/logout">Logout &nbsp;
              <span aria-hidden="true" class="glyphicon glyphicon-log-out"></span>
            </a>
        </ng-template>
        <ng-template #loggedOut>
          <li routerLinkActive="active">
            <a routerLink="/auth/register">Register &nbsp;</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/auth/login">Login &nbsp;
            <span aria-hidden="true" class="glyphicon glyphicon-log-in"></span>
          </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
