.navbar-brand,
.navbar-nav li a {
    line-height: 65px;
    height: 65px;
    padding-top: 0;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-brand > img {
    display: inline-block;
    vertical-align: middle;
    height: 90%;
}
