.list-group-item:not(.active) {
    background-color: #F8F8F8;
}
.list-group-item {
    margin-bottom: 20px;
}

.sidebar {
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .sidebar {
        width: 220px;
        position: fixed;
    }
}
@media (min-width: 1200px) {
    .sidebar {
        width: 270px;
        position: fixed;
    }
}
