h3 {
    margin-top: 0;
    text-align: center;
}

@media (min-width: 992px) {
    .sidebar {
        width: 290px;
        position: fixed;
    }
}
@media (min-width: 1200px) {
    .sidebar {
        width: 350px;
        position: fixed;
    }
}
